body {
  background-image: url('./backgorun.png');
  background-size: cover;
  background-position: center 10%; /* Center the background image */
  /*color: white; !* Adjust text color for contrast *!*/
}

.logo {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  margin-bottom: 100px; /* Space between logo and countdown timer */
}

.logo img {
  max-width: 300px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
  padding-top: 30px;
}

.club {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  margin-bottom: 100px; /* Space between logo and countdown timer */
}

.club img {
  max-width: 500px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
  padding-top: 220px;
  padding-bottom: 0;
  margin-bottom: 0%;
}
.flip-clock-label {
  font-weight: bold;
  font-size: 1.2em;
  /*color: white !important; */
}
.flip-clock-wrapper ul {
  background: #ffffff; /* Set the background of the flip clock to black */
  color: white; /* Set the text color to white */
  border-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  color: #ffffff; /* Set the digits to white */
  background-color: #A6034F; /* Set the background behind the digits to black */
  text-shadow: none; /* Remove text shadow for clearer look */
}

.flip-clock-dot {
  background: white; /* Set dots between numbers to white */
}

.flip-clock-divider .flip-clock-label {
  color: white !important; /* Ensure that labels like Days, Hours, Minutes, Seconds are white */
}



/*.clock {*/
/*  width: 650px;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translateX(-50%) translateY(-50%);*/
/*}*/


.clock {
  width: auto; /* Allow the clock width to adjust based on content */
  display: flex; /* Use flexbox to center */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.waves-container {
  position: absolute;
  bottom: 0;  /* Anchors the waves to the bottom of the page */
  width: 100%;
  height: 15vh;  /* You can adjust the height as needed */
}

.waves {
  position: absolute;
  bottom: 0;  /* Anchors the SVG waves at the bottom of the container */
  width: 100%;
  height: 100%;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;  /* Ensure it stays above all content */
}


.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
